.App {
  text-align: center;
  padding-top: 10%;
  color: #434371;
  background-color: #70EE9C;
  position: absolute;
  top: 4px; 
  bottom: 10px; 
  width: 100%;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
